export(ess.read)
export(ess2snpmod)
export(guess.read)
export(impute.missing)
export(read.ess)
export(read.snpmod)
export(show.ld)
export(snpmatrix.combine)
export(snpprior)
export(tag)
export(textvenn)
import(Matrix)
importFrom(VGAM,dbetabinom)
